doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="js/vendor.min.js")
    link(rel="stylesheet" type="text/css" href="css/application.min.css")
    link(rel="icon" type="image/png" href="images/favicon.png")
    title Sketch N Sketch
  body
    .container
      .stripe.instructions
        h5
          | Press WASD or 
          i.fa.fa-chevron-up
          i.fa.fa-chevron-down
          i.fa.fa-chevron-left
          i.fa.fa-chevron-right 
          | to view sketch3s
      #app
      script(src="js/application.min.js")
      .stripe
        h5
          | This site is not affiliated with the Ohio Art Company, but I want to thank them for the childhood memories and project inspiration - 
          a(href="https://twitter.com/lateisha" target="_blank") @lateisha
